/* @override http://localhost:1337/fnote/notes.css
	http://localhost:1337/fNote/notes.css */

div.btn-group {
	padding-top: 20px;
	padding-left: 20px;
}

div.note {
	border-style: solid;
	border-width: 2px;
	overflow: hidden;
	cursor: move;
}

div.note-content{
	background-color: #aefa80;
	height: 100%;
  font-size: small;
  padding: 4px;
}

textarea.editor {
  width: 100%;
  height: 100%;
}

div.container {
	width: 100%;
	height: 100%;
}

div.note-content h1 {
  text-align: center;
}

div.note-content h1,h2,h3,h4,h5 {
  background-color: #4be840;
}

div.note-content h2,h3,h4,h5 {
  padding-left: 10px;
}

div.note-content :first-child {
  margin-top: 0;
}
